


  {{>headerStudent}}
<br>
<br>
The following teachers offer lessons for your chosen instrument:

{{#each listOfTeachers}}

<ul>
  <b>{{name}}</b>
  <br>
  {{bio}}
 </ul>
{{/each}}

  <form action="/bookingrequest" method="post">

  I would like to book a lesson with: 
  <br>
  <select name="teacher_id" size="1">
    {{#each listOfTeachers}}
      <option value={{id}}>{{name}}</option>
    {{/each}}
  </select>
  <br>
  Leave a message with your details:
  <br>
  <textarea id="request" name="request">  </textarea>
  <div class="create"><input class="btn btn-primary btn-lg" type="submit" value="Submit" /></div>
  <br>
  </form>

{{>back}}
